<h1>Ini Adalah Halaman <%= title %> </h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">No. Hp</th>
            <th scope="col">Email</th>
            <th scope="col">Aksi</th>
            </tr>
        </thead>
        <tbody>
            <% if (data && data.length > 0) { %>
                <% data.forEach((element,i) => { %>
                    <tr>
                        <td scope="row"><%= i+1 %></td>
                        <td><%= element.nama %></td>
                        <td><%= element.nohp %></td>
                        <td><%= element.email %></td>
                        <td>
                            <a href="/details/<%= element.nama %>" class="badge text-bg-success">Detail</a>
                        </td>
                    </tr>  
                <% }) %>
            <% } else{  %> 
                <tr>
                    <td colspan="5">
                        <div class="alert alert-danger" role="alert">
                          Data Tidak Ditemukan...!
                        </div>
                    </td>
                </tr>
            <% } %>           
            
        </tbody>
    </table>
</div>

<script src="/find-contact.js"></script>

